*{
    margin: 0;
    padding: 0;
    color: #ffffffdf;
}
body{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.section-1{
    background-color: yellowgreen;
    height: 100vh;
    padding: 0 5px;
}
.div-1{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.div-11{
    width: 32.5%;
    border-bottom: 2px solid #ffffff69;
}
.div-2{
    height: 5vh;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1vh 0;
}
.div-21{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
a{
    width: 15%;
}
.img-1{
    width: 80%;
}
.img-2{
    border-radius: 100%;
    width: 20%;
    border: 1.5px solid #fff;
}
h4{
    font-size: 15px;
    margin: 0;
}
.p-1{
    font-size: 13px;
    margin: 0;
}
.div-22{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.img-3{
    width: 30%;
}
.div-3{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    margin: 5px;
}