*{
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
header{
    background-color: #202c33;
    padding: 10px 0 0 0;
}
header .nav-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
}
header .nav-1 .div-1{
    width: 65%;
    font-size: 20px;
}
header .nav-1 .div-2{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
header img{
    width: 20%;
}
header .nav-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
header .nav-2 .div-1{
    width: 10%;
}
header .nav-2 .div-1 img{
    width: 60%;
}
header .nav-2 .div-2{
    width: 90%;
}
a{
    text-decoration: none;
}
header .nav-2 .div-2 ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.line{
    border: 2px solid green;
    margin-left: 490px;
    margin-right: 40px;
}
.section-3{
    background-color: #0b141a;
}
.section-3-content{
    padding: 0 12px;
}
.section-3-content .div-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.section-3 img{
    width: 13%;
    border-radius: 100%;
}
.section-3-content .div-1 .name{
    width: 70%;
}
.section-3-content .div-1 .name h4{
    color: gray;
    font-size: 16px;
}
.section-3-content .div-1 .name .div-p{
    display: flex;
}
.section-3-content .div-1 .name .div-p img{
    width: 12%;
}
.section-3-content .div-1 .name p{
    color: gray;
    font-size: 14px;
}
.section-3-content .div-1 .time{
    width: 10%;
}
.section-3-content .div-1 .time img{
    width: 70%;
}